<!--DOCTYPE html -->

<!DOCTYPE html>
<html>
<head>
	<title>{% block head_title %}Hello board!{% endblock head_title %}</title>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class='container'>
	<ul class="nav navbar-nav navbar-right">
		{% if user.is_authenticated %}
			<li><a href="{% url 'auth_logout' %}">Logout</a></li>
		{% else %}
			<li><a href="{% url 'auth_login' %}">Login</a></li>
			<li><a href="{% url 'registration_register' %}">Register</a></li>
		{% endif %}
	</ul>

	<div class="jumbotron" align="center">
	    <h1>Hello board!</h1> 
	    <p>
	    {% if user.is_authenticated %}
	      {{ user.username }} 님!
	    {% endif %}
	    보여주고 싶은 얘기들을 마음껏 적으세요!
	    </p> 
	    
	</div>    


	{% block content %}
		
	{% endblock content %}
</div>


</body>
</html>

