<!--DOCTYPE html -->
{% extends "base.html" %}

{% block head_title %}
{{ insatance.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
<h1>{{ title }} <small>{{ instance.created }}</small></h1>
<div>
	{% if instance.image %}  
	<img src='{{ instance.image.url }}' class='img-responsive'/>
	{% endif %}  
<!-- {{ instance.id }}<br/> -->
<!-- {{ instance.title }}<br/> -->
{{ instance.content|linebreaks }}<br/>
{{ instance.created }}<br/>
{{ instance.updated }}<br/>
</div>

{% endblock content %}
</body>
</html>