<!--DOCTYPE html -->
{% extends "base.html" %}

{% block head_title %}
{{ insatance.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}



<h1 class='text-primary text-center'>{{ target.name }}<small>에 보여지고 있습니다</small><br></h1>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">타겟 선택
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    {% for viewer in viewer_list %}
      <li><a href="{% url 'helloboard:board_list' viewer_id=viewer.id %}"/>{{ viewer.name }} </li>
    {% endfor %}
  </ul>
  <a href="{% url 'helloboard:board_create' viewer_id=target.id %}" class="btn btn-primary" role="button">작성하기</a>
</div>

<div align="right">
  <div class="pagination">
      <span class="step-links">
          {% if object_list.has_previous %}
              <a href="?page={{ object_list.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
          </span>

          {% if object_list.has_next %}
              <a href="?page={{ object_list.next_page_number }}">next</a>
          {% endif %}
      </span>
  </div>
</div>
{% for obj in object_list %}
<div class="row">
  <div>
    <div class="thumbnail">
      
      <div class="caption">
        <h3 class='text-information'>{{ obj.title }}<br/></h3>
        {% if obj.image %}  
        <img src='{{ obj.image.url }}' class='img-responsive'/>
        {% endif %}
        <p>{{ obj.content|linebreaks|truncatechars:100 }}<br/></p>
        <p class='text-success'>{{ obj.created|timesince }} ago<br/></p>
        <p>
        <a href="{%url "helloboard:board_detail" viewer_id=target.id id=obj.id %}" class="btn btn-primary" role="button">View</a>

        <!-- 만약 작성자라면 edit 버튼을 보여준다 -->
        {% if obj.user.id == user.id %}
          <a href="{%url "helloboard:board_update" viewer_id=target.id id=obj.id %}" class="btn btn-primary" role="button">Edit</a>
        {% endif %}
        </p>
      </div>
    </div>
  </div>
</div>

{% endfor %}

<div align="right">
  <div class="pagination">
      <span class="step-links">
          {% if object_list.has_previous %}
              <a href="?page={{ object_list.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
          </span>

          {% if object_list.has_next %}
              <a href="?page={{ object_list.next_page_number }}">next</a>
          {% endif %}
      </span>
  </div>
</div>
{% endblock content %}
</html>