{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<div class='col-sm-6 col-sm-offset-3'
	<h1>Register Now</h1>
	<form method="post" action="">
	    {% csrf_token %}
	    {{ form }}
	    <input class='btn btn-primary'type="submit" value="{% trans 'Submit' %}" />
	</form>
</div>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
